<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="conString" connectionString="XtfQ2On3fA9sw3NqSPzcAwUg7sfeS8rI5COz9zybHulG5U9eZjJgBpGO/TjWEUZF8ixFpnO0e0s=" providerName="System.Data.SqlClient"/>       
  </connectionStrings>  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <UserInterface.Properties.Settings>
      <setting name="ImagePath" serializeAs="String">
        <value />
      </setting>
    </UserInterface.Properties.Settings>
  </userSettings>

  <appSettings>
    <add key="version"  value="v 1.0.0"/>
    <add key="version2"  value="v 1.0.1"/>
    <add key="version3"  value="v 1.0.2"/>
    <add key="version4"  value="v 1.0.3"/>
    <add key="version5"  value="v 1.0.4"/>
    
    
  </appSettings>
  
 
</configuration>